<div>
    <h1>Beers:</h1>
    {{#each beersFromApi}}
    <img src="{{image_url}}" alt="">
    <h2 class="name">{{name}}</h2>
    <p class="description">{{description}}</p>
    <p class="tagline">{{tagline}}</p>
    {{/each}}
</div>


