<div>
    <h1>Random beer:</h1>
    {{#each responseFromAPI}}
    {{>beerpartial}}
    <p class="food pairing">{{food_pairing}}</p>
    <p class="brewer tips">{{brewers_tips}}</p>
    {{/each}}
</div>


